@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:100px">
    <h3>Área Administrativa do Portal da SEF</h3>
    <p>Bem vindo administrador de conteúdo. <br />
    As páginas acessíveis estão no menu superior, na barra verde escuro. Nela você tem disponíveis os links de acesso as páginas as quais tem permissão para edição.</p>
</div>
